/* 全局样式 */

// 重置标签样式
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: '微软雅黑';
}

a {
  color: #000000;
  text-decoration: none;
  &:hover {
    color: #000000;
  }
  &:active {
    color: #000000;
  }
  &:link {
    color: #000000;
  }
  &:visited {
    color: #000000;
  }
}

.page {
  width: 100%;
  height: 100%;
  background: #e9e9e9;
}

.shanghu-page {
  padding-top: .586667rem;
  padding-bottom: 1.066667rem;
  .sub-title {
    height: 1.533333rem;
    line-height: 1.533333rem;
    @include font-dpr(14px);
    .tip {
      color: #de3232;
      @include font-dpr(12px);
    }
  }
  .form-box {
    padding-right: 0.533333rem;
    padding-left: .533333rem;
  }
  .xbtn {
    margin-top: .906667rem;
  }
  .weui-cells {
    margin-top: 0;
  }
  .weui-cells:before {
    border: none;
  }
  .reset-vux-input {
    border: 1px solid #d3d3d3;
    border-radius: .106667rem;
    box-shadow: 0 0 1px 1px rgba(#000000, .1);
  }
}

.sh-page {
  height: 100%;
  width: 100%;
}

a.active-router {
  color: #de3232;
}
